[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Notion
Comment=Notion App
Exec=google-chrome --app="https://notion.so"
Icon=notion
Terminal=false
Categories=GNOME;GTK;Office;Network;Internet;PWA;

################################################################################
# @see Categories list:
# https://developer.gnome.org/menu-spec/#main-category-registry
# https://developer.gnome.org/menu-spec/#additional-category-registry
# https://developer.gnome.org/menu-spec/#reserved-category-registry
################################################################################

