[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Simplenote
Comment=Simplenote App
Exec=google-chrome --app="https://app.simplenote.com/"
Icon=simplenote
Terminal=false
Categories=GNOME;GTK;Office;Network;Internet;PWA;

################################################################################
# @see Categories list:
# https://developer.gnome.org/menu-spec/#main-category-registry
# https://developer.gnome.org/menu-spec/#additional-category-registry
# https://developer.gnome.org/menu-spec/#reserved-category-registry
################################################################################

